---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe"> <a href="{{ "/feed.xml" | relative_url }}">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/43/Feed-icon.svg/20px-Feed-icon.svg.png" />
      Subscribe via RSS
    </a></p>
  {%- endif -%}

    <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="paginate">
        &laquo; Previous
      </a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
      &nbsp;
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
      &nbsp;
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="paginate">Next &raquo;</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>

</div>
